<ion-view title="Acerga de Guía VAS">
	<ion-content class="regular">
		<h1>Acerca de esta Guía</h1>
		<h3>Guía para Visitas de Área Silvestre (VAS)</h3>
		<h2>Cerro Manquehue</h2>
<hr>
		<h2>Créditos</h2>
		<h3>Fotografías</h3>
		<ul>
			<li>Cerro Manquehue nevado: <a href="https://www.flickr.com/photos/thedropper/">Matt Bull</a> <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/legalcode">(CC BY-NC-ND 2.0)</a> <small><a href="https://flic.kr/p/iMgzR">link</a></small></li>
			<li>Las fotografías de especies tienen sus respectivos créditos en el pie de foto de cada una.</li>
		</ul>
		<h3>Vectores (ilustraciones)</h3>
		<ul>
			<li>Mushroom by Monty Martin-Weber from The Noun Project (Hongo)</li>
			<li>Quail by Anniliese Ahrens from The Noun Project (Codorniz)</li>
			<li>Fox by Christy Presler from The Noun Project (Zorro)</li>
			<li>Fish by Ealancheliyan s from The Noun Project</li>
			<li>Plant by Prerak Patel from The Noun Project</li>
			<li>Liquen, Lagartija, Hormiga por B. Agustín Amenabar L. de Santiago, Chile</li>
		</ul>

		<h3>Software</h3>
		<ul>
			<li>Ionic Framework: <a href="http://ionicframework.com/">http://ionicframework.com/</a></li>
			<li>Apache Cordova: <a href="http://cordova.apache.org/">http://cordova.apache.org/</a></li>
			<li>AngularJS: <a href="https://angularjs.org/">https://angularjs.org/</a></li>
		</ul>
	</ion-content>
</ion-view>