<ion-view title="Flora y Fauna">
  <ion-content>
    <div class="bar bar-dark item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar">
      </label>
    </div>
    <div class="bar bar-dark item-input-inset">
      <h2 class="title">Selecciona una categoría</h2>
    </div>
    <div class="lista-calugas">
      <button class="button button-energized">
        <img src="img/plant.svg">
        <div>Plantas</div>
      </button>
      <button class="button button-energized">
        <img src="img/ant.svg">
        <div>Artrópodos</div>
      </button>
      <button class="button button-energized">
        <img src="img/quail.svg">
        <div>Aves</div>
      </button>
      <button class="button button-energized">
        <img src="img/fox.svg">
        <div>Mamíferos</div>
      </button>
      <button class="button button-energized">
        <img src="img/lizard.svg">
        <div>Reptiles</div>
      </button>
      <button class="button button-energized">
        <img src="img/mushroom.svg">
        <div>Hongos</div>
      </button>
      <button class="button button-energized">
        <img src="img/lichen.svg">
        <div>Líquenes</div>
      </button>
      <button class="button button-energized">
        <img src="img/snail.svg">
        <div>Otros</div>
      </button>
    </div>
  </ion-content>
</ion-view>