<ion-view title="{{category.label}}">
	<ion-content class="has-header">
		<div class="bar bar-dark item-input-inset">
	      <label class="item-input-wrapper">
	        <i class="icon ion-ios7-search placeholder-icon"></i>
	        <input type="search" placeholder="Buscar" ng-model="searchText">
	      </label>
	    </div>
		
		<ion-list class="species-list">
			<ion-item ng-repeat="oneSpecie in categorySpecies | filter:searchText" href="#/slidenav/card/{{oneSpecie._id}}">
				<img ng-src="img/species/thumbs/{{oneSpecie.thumbnail}}">
				<div class="label">
					<h2>{{oneSpecie.label}}</h2>
					<h3>{{oneSpecie.sublabel}}</h3>
				</div>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>