<ion-view title="{{category.label}}">
	<ion-content class="has-header">
		
		<h3>{{category.label}}</h3>
		<p>Lorem ipsum y otras cosas.</p>
		<p>The issue is that the nav bar is hidden even if I defined another one within ion-side-menus. So I removed the hide-nav-bar and it's working.</p>

<p>The one thing I don't understand is that I have a ion-nav-bar in index.html and one within the ion-side-menus and the one from index.html is not displayed. Could you explain why?</p>

<p>In my list when I click on one item, I switch to the details state. On that state, the code is the following:</p>
	</ion-content>
</ion-view>