<ion-view title="Cerro Manquehue: Información">
	<ion-content class="regular">
		<h1>Cerro Manquehue</h1>
		<p>El Cerro Manquehue (mapudungún: <i>manquehue</i>, ‘lugar de cóndores’) es el cerro más alto del valle de Santiago.</p>
		<p>Tiene 1.638 msnm.3 Integra el denominado cordón Manquehue, al noreste de la capital de Chile, junto a la ribera norte del río Mapocho. Este cerro tiene una antigüedad geológica de 19 millones de años.</p>
		<figure><img src="img/201212895_8cbd324c60_z.jpg" alt="Fotografía de Cerro Manquehue, con nieve, mirado desde el sur (Vitacura).">
		<figcaption>Fotografía de: <a href="https://www.flickr.com/photos/thedropper/">Matt Bull</a> <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/legalcode">(CC BY-NC-ND 2.0)</a> <small><a href="https://flic.kr/p/iMgzR">link</a></small></figcaption>
		</figure>
		<h2>Flora y Fauna</h2>
		<p>Posee un “bosque maduro de tipo esclerófilo”. Sólo el uno por ciento de estos bosques se conservan en la zona central de Chile. Se encuentran árboles como el chequén, peumo, quillay, litre, bollén y maitén. Existen pocos arbustos como el guayacán.</p>

		<p>Después de inviernos lluviosos aparecen bulbosas nativas, como añañucas, azulillos, alstroemerias, huillis y capachitos.</p>

		<p>En su ladera norte presenta numerosos ejemplares de quiscos y chaguales. Estos últimos pueden ser vistos en floración desde mediados de primavera.</p>
		<h2>Fuentes</h2>
		<a href="http://es.wikipedia.org/wiki/Cerro_Manquehue">http://es.wikipedia.org/wiki/Cerro_Manquehue</a>
	</ion-content>
</ion-view>